flow.json
[{"id":"9fab0fa7.a0c76","type":"tab","label":"Brewfather Import","disabled":false,"info":""},{"id":"8bb0b7a7.5f1d08","type":"tab","label":"Mash Steps","disabled":false,"info":""},{"id":"a0639205.ab602","type":"tab","label":"Temperature","disabled":false,"info":"Temperature readings, triggered every 2 \nseconds (note that the PID algorith has this \nfrequency hard coded into it, and those \nfunctions will need to be modified if the \ntrigger frequency is changed). Also smoothing \nand formating for temperature display."},{"id":"a7304127.cd25e","type":"tab","label":"BK Buttons","disabled":false,"info":"Buttons related to controlling the brew kettle.\nThese buttons also display state."},{"id":"b907c529.c47d08","type":"tab","label":"BK Controller","disabled":false,"info":"PID functionality, as well as an interlock \nscheme to prevent multiple elements from being\nused at one time."},{"id":"1ef31402.6a4b5c","type":"tab","label":"Element Outputs","disabled":false,"info":"Routing to GPIO, as well as displays for element\noutput in duty % and watts."},{"id":"85f14844.85a3d8","type":"tab","label":"Pump Control","disabled":false,"info":"This flow provides a button to turn a pump on \nand off. The colour of the pump button reflects\nits status. The pump has one restriction in that \nit can not be turned off while RIMS is active.\nSuch attempts are blocked, with a notification\nprovided to the user."},{"id":"86fbd43c.6c8fd8","type":"tab","label":"UI","disabled":false,"info":"This tab contains a collection of UI features.\n* CSS overide to ensure dashboard is only 1 or 2 columns\n* Centre \"group\" titles\n* Navigation buttons\n* Bolts indicating element activity"},{"id":"e71b7d5a.0fc7a","type":"tab","label":"Logging","disabled":true,"info":""},{"id":"e047d27f.8dd23","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#77bb40","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#77bb40","edited":true},"page-titlebar-backgroundColor":{"value":"#77bb40","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#9fd077","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#77bb40","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Brew 1v","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":45,"sy":45,"gx":6,"gy":6,"cx":5,"cy":5,"px":4,"py":4}}},{"id":"80e089f7.9b4b98","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bf96f83d.953be8","type":"ui_group","z":"","name":"KETTLE","tab":"80e089f7.9b4b98","order":4,"disp":true,"width":"6","collapse":false},{"id":"c42caab5.087ea8","type":"ui_group","z":"","name":"PID SETTINGS","tab":"d11d7d3d.96e7","order":1,"disp":true,"width":"6","collapse":false},{"id":"d11d7d3d.96e7","type":"ui_tab","z":"","name":"PID Configuration","icon":"","order":4,"disabled":false,"hidden":true},{"id":"a8059f42.d4b8b","type":"ui_tab","z":"","name":"General Settings","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"95fc83cc.293e1","type":"ui_group","z":"","name":"LOG","tab":"a8059f42.d4b8b","order":1,"disp":true,"width":"6","collapse":false},{"id":"85ac710a.94fc1","type":"influxdb","z":0,"hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brew2","name":"","usetls":false,"tls":""},{"id":"c3f935d2.2206c8","type":"ui_group","z":"","name":"SYSTEM","tab":"80e089f7.9b4b98","order":5,"disp":true,"width":"6","collapse":true},{"id":"968e1e87.ded91","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1987ef0.0633911","type":"ui_group","z":"","name":"SETTINGS","tab":"968e1e87.ded91","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1df5bd2.c1a7b8","type":"ui_tab","z":"","name":"Batch Import","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"4e459343.750bcc","type":"ui_group","z":"","name":"STEPS","tab":"80e089f7.9b4b98","order":1,"disp":true,"width":6,"collapse":true},{"id":"6f27a610.bd6858","type":"ui_group","z":"","name":"Batch Import","tab":"f1df5bd2.c1a7b8","order":1,"disp":true,"width":"7","collapse":false},{"id":"8abc699c.0e1778","type":"ui_group","z":"","name":"Mash Schedule","tab":"f1df5bd2.c1a7b8","order":2,"disp":true,"width":7,"collapse":false},{"id":"1740ddef.a5ca82","type":"ui_spacer","name":"spacer","group":"4e459343.750bcc","order":5,"width":1,"height":1},{"id":"8d7b72ce.03eb5","type":"ui_spacer","name":"spacer","group":"4e459343.750bcc","order":7,"width":1,"height":1},{"id":"61373df6.b88894","type":"ui_spacer","name":"spacer","group":"4e459343.750bcc","order":9,"width":1,"height":1},{"id":"4ee37346.0fb10c","type":"ui_spacer","name":"spacer","group":"4e459343.750bcc","order":11,"width":1,"height":1},{"id":"310cf03e.8045f","type":"ui_spacer","name":"spacer","group":"4e459343.750bcc","order":13,"width":1,"height":1},{"id":"c828216f.c713b","type":"ui_spacer","name":"spacer","group":"bf96f83d.953be8","order":3,"width":6,"height":1},{"id":"1771e1dd.93266e","type":"ui_spacer","name":"spacer","group":"bf96f83d.953be8","order":8,"width":1,"height":1},{"id":"eb540468.3002d8","type":"ui_spacer","name":"spacer","group":"bf96f83d.953be8","order":11,"width":2,"height":1},{"id":"4fae1b67.c753d4","type":"ui_spacer","name":"spacer","group":"bf96f83d.953be8","order":13,"width":2,"height":1},{"id":"5e823df5.925ee4","type":"ui_spacer","name":"spacer","group":"c3f935d2.2206c8","order":1,"width":1,"height":1},{"id":"ba001d56.9e666","type":"ui_spacer","name":"spacer","group":"c3f935d2.2206c8","order":3,"width":1,"height":1},{"id":"86daa02b.a62a9","type":"ui_spacer","name":"spacer","group":"1987ef0.0633911","order":1,"width":1,"height":1},{"id":"b3c8f0b6.36de3","type":"ui_spacer","name":"spacer","group":"1987ef0.0633911","order":3,"width":1,"height":1},{"id":"c4bb0be3.8dc8a8","type":"ui_spacer","name":"spacer","group":"1987ef0.0633911","order":4,"width":1,"height":1},{"id":"4e940474.80f54c","type":"ui_spacer","name":"spacer","group":"1987ef0.0633911","order":6,"width":1,"height":1},{"id":"ae08aa48.a1b908","type":"ui_spacer","name":"spacer","group":"1987ef0.0633911","order":7,"width":2,"height":1},{"id":"9e32f8fd.be1a48","type":"ui_spacer","name":"spacer","group":"1987ef0.0633911","order":9,"width":2,"height":1},{"id":"7e419bf7.010934","type":"ui_spacer","name":"spacer","group":"95fc83cc.293e1","order":6,"width":2,"height":1},{"id":"943a033a.48aec","type":"ui_spacer","name":"spacer","group":"95fc83cc.293e1","order":8,"width":2,"height":1},{"id":"440e3ff.22a43c","type":"ui_spacer","name":"spacer","group":"c42caab5.087ea8","order":10,"width":2,"height":1},{"id":"3925723d.3ec98e","type":"ui_spacer","name":"spacer","group":"c42caab5.087ea8","order":12,"width":2,"height":1},{"id":"176139ac.7bbe06","type":"smooth","z":"a0639205.ab602","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","x":640,"y":220,"wires":[["f76ab68f.0eaca8"]]},{"id":"acf6ffff.c78c6","type":"rpi-gpio out","z":"85f14844.85a3d8","name":"pump GPIO","pin":"11","set":true,"level":"0","freq":"1","out":"out","x":1030,"y":160,"wires":[]},{"id":"cd81454a.421ae8","type":"inject","z":"b907c529.c47d08","name":"default element duty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"100","payloadType":"num","x":270,"y":420,"wires":[["6047be58.0074","6a8106b5.666fe8","af8baf54.f018d"]]},{"id":"47fe224d.cb52bc","type":"change","z":"b907c529.c47d08","name":"bk_lock=true","rules":[{"t":"set","p":"bk_lock","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1340,"wires":[[]]},{"id":"a1c90a57.ca87e8","type":"change","z":"b907c529.c47d08","name":"bk_on = bk_try","rules":[{"t":"set","p":"bk_on","pt":"global","to":"bk_try","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"bk_try","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1360,"wires":[["e4e2b005.c6f3a"]]},{"id":"e4e2b005.c6f3a","type":"switch","z":"b907c529.c47d08","name":"bk_on","property":"bk_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":1360,"wires":[["47fe224d.cb52bc"],["5d261e1f.8eed5"]]},{"id":"5d261e1f.8eed5","type":"delay","z":"b907c529.c47d08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1380,"wires":[["623929ef.c19298"]]},{"id":"623929ef.c19298","type":"change","z":"b907c529.c47d08","name":"bk_lock = false","rules":[{"t":"set","p":"bk_lock","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1420,"wires":[[]]},{"id":"be20f0d9.2cc4d","type":"sensor-ds18b20","z":"a0639205.ab602","name":"kettleTemperature1","sensorid":"28-04168456e8ff","timer":"2","repeat":false,"x":420,"y":180,"wires":[["176139ac.7bbe06","4b82c6b3.19fc78","3506f083.b8d4"]]},{"id":"47703c84.3a71a4","type":"inject","z":"a0639205.ab602","name":"","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["be20f0d9.2cc4d","fec357.d3f40ca8"]]},{"id":"7981a2.4c7ece6","type":"ui_numeric","z":"b907c529.c47d08","name":"","label":"K𝗉","tooltip":"","group":"c42caab5.087ea8","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99.8","step":"0.2","x":260,"y":580,"wires":[["d3f9b900.5c0588"]]},{"id":"a3c18bc9.ec6948","type":"ui_numeric","z":"b907c529.c47d08","name":"","label":"K𝗂","tooltip":"","group":"c42caab5.087ea8","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":260,"y":680,"wires":[["dbe9a5f0.a3e968"]]},{"id":"f02fe4a7.3f4e88","type":"ui_numeric","z":"b907c529.c47d08","name":"","label":"K𝖽","tooltip":"","group":"c42caab5.087ea8","order":8,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":260,"y":780,"wires":[["f20f09f4.4c1368"]]},{"id":"d3f9b900.5c0588","type":"change","z":"b907c529.c47d08","name":"","rules":[{"t":"set","p":"p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[[]]},{"id":"dbe9a5f0.a3e968","type":"change","z":"b907c529.c47d08","name":"set flow.i","rules":[{"t":"set","p":"i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":680,"wires":[[]]},{"id":"f20f09f4.4c1368","type":"change","z":"b907c529.c47d08","name":"","rules":[{"t":"set","p":"d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[[]]},{"id":"f9bf13a0.b997c","type":"inject","z":"b907c529.c47d08","name":"default P","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"20.0","payloadType":"num","x":230,"y":540,"wires":[["7981a2.4c7ece6","d3f9b900.5c0588"]]},{"id":"9dba2b2c.76af08","type":"inject","z":"b907c529.c47d08","name":"default I","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":640,"wires":[["a3c18bc9.ec6948","dbe9a5f0.a3e968"]]},{"id":"51143a6a.d14d44","type":"inject","z":"b907c529.c47d08","name":"default D","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":230,"y":740,"wires":[["f02fe4a7.3f4e88","f20f09f4.4c1368"]]},{"id":"6f737548.4a910c","type":"inject","z":"b907c529.c47d08","name":"default BK target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"num","x":250,"y":280,"wires":[["6583c1b8.9df6b","8ada60cc.b7b07","97e976f7.e74058","18962be0.30ba34"]]},{"id":"95b3cd58.1386d","type":"function","z":"b907c529.c47d08","name":"BK PID","func":"// Note that the algorithm provided below assumes a 1 second iteration time\n// Justin Angevaare\n// May 2018\n\n// Set temperature\nmsg.temperature =  msg.payload;\n\n// Well that node doesn't work... do manually\nmsg.interval = 2000\n\n// Calculate error\nmsg.error = flow.get('bk_target') - msg.temperature;\n\n// Set output max\nmsg.max_output = 100\n        \n// Calculate integrator max\nmsg.integrator_max = msg.max_output/flow.get('i');\n\n// Update integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.integrator = flow.get('integrator');\nmsg.integrator += (msg.interval/1000) * Math.max(Math.min(msg.error, 1), -1);\n\n// Bound total integrator by absolute maximum\nmsg.integrator = Math.max(Math.min(msg.integrator, msg.integrator_max), -msg.integrator_max);\n\n// Output updated integrator to flow context\nflow.set('integrator', msg.integrator);\n\n// Calculate proportional action\nmsg.output = msg.error * flow.get('p');\n\n// Calculate intergral action\nmsg.output += msg.integrator * flow.get('i');\n\n// Calculate derivative action\nmsg.derivative = (msg.error - flow.get('last_error'))/(msg.interval/1000);\nmsg.output += msg.derivative * flow.get('d');\n\n// Bound output by [0, max_output]\nmsg.output = Math.max(Math.min(msg.output, msg.max_output), 0);\n\n// Output updated last_error to flow context\nmsg.last_error = msg.error;\nflow.set('last_error', msg.last_error);\n\n// Set payload to element output\nmsg.payload = msg.output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["cc77cc1a.919e","1dc7f0b9.1f9fef"]]},{"id":"aec3b6a8.582438","type":"switch","z":"b907c529.c47d08","name":"bk_pid switch","property":"bk_pid","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":180,"wires":[["95b3cd58.1386d"],["b5c9e51d.bd3cf8"]]},{"id":"b5c9e51d.bd3cf8","type":"change","z":"b907c529.c47d08","name":"payload = bk_manual_duty","rules":[{"t":"set","p":"payload","pt":"msg","to":"bk_manual_duty","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["cc77cc1a.919e"]]},{"id":"a7799579.401d28","type":"link in","z":"b907c529.c47d08","name":"BK PID temperature input","links":["4b82c6b3.19fc78"],"x":135,"y":160,"wires":[["4ad80b82.07ede4","9219c0fa.83b29"]]},{"id":"4b82c6b3.19fc78","type":"link out","z":"a0639205.ab602","name":"kettleTemperature1_raw","links":["4aa64b6a.b63bf4","a7799579.401d28"],"x":615,"y":180,"wires":[]},{"id":"8ada60cc.b7b07","type":"change","z":"b907c529.c47d08","name":"","rules":[{"t":"set","p":"bk_target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[[]]},{"id":"cc77cc1a.919e","type":"link out","z":"b907c529.c47d08","name":"PID or Manual Duty","links":["8301baa1.06dbe8","cd073ffa.3280c"],"x":825,"y":160,"wires":[]},{"id":"e7b29542.568348","type":"change","z":"b907c529.c47d08","name":"bk_pid, bk_try = true","rules":[{"t":"set","p":"bk_pid","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"bk_try","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1120,"wires":[["9b857550.01d1c8"]]},{"id":"56812efb.3243c","type":"change","z":"b907c529.c47d08","name":"bk_pid = false, bk_try = true","rules":[{"t":"set","p":"bk_pid","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"bk_try","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1160,"wires":[["f0404175.d1b2c"]]},{"id":"1c21b35b.087f1d","type":"change","z":"b907c529.c47d08","name":"bk_pid, bk_try = false","rules":[{"t":"set","p":"bk_pid","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"bk_try","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1200,"wires":[["f863f74b.9486b8"]]},{"id":"f0404175.d1b2c","type":"link out","z":"b907c529.c47d08","name":"Boil Try Output","links":["7a316d2d.27a0a4"],"x":535,"y":1160,"wires":[]},{"id":"7a316d2d.27a0a4","type":"link in","z":"b907c529.c47d08","name":"Boil Try Input","links":["9b857550.01d1c8","f0404175.d1b2c","f863f74b.9486b8"],"x":155,"y":1360,"wires":[["a1c90a57.ca87e8"]]},{"id":"4ad80b82.07ede4","type":"switch","z":"b907c529.c47d08","name":"bk_on","property":"bk_on","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["aec3b6a8.582438"]]},{"id":"6a8106b5.666fe8","type":"change","z":"b907c529.c47d08","name":"","rules":[{"t":"set","p":"bk_manual_duty","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[[]]},{"id":"ffcca7bf.2ba8c8","type":"change","z":"b907c529.c47d08","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1040,"wires":[["19bbd91a.d2a937"]]},{"id":"19bbd91a.d2a937","type":"link out","z":"b907c529.c47d08","name":"Off Duty","links":["8301baa1.06dbe8","cd073ffa.3280c"],"x":535,"y":1040,"wires":[]},{"id":"c4505844.8a5b58","type":"link out","z":"b907c529.c47d08","name":"Boil PID display","links":["5285e8f7.b9ad08","eda67ad.0cd1d88","3d3edc7.4687524","6bcd487d.aedee8","9e568563.4e1098"],"x":535,"y":1000,"wires":[]},{"id":"17156596.e5feaa","type":"rpi-gpio out","z":"1ef31402.6a4b5c","name":"BK GPIO","pin":"13","set":false,"level":"0","freq":"1","out":"pwm","x":300,"y":80,"wires":[]},{"id":"8301baa1.06dbe8","type":"link in","z":"1ef31402.6a4b5c","name":"BK GPIO","links":["19bbd91a.d2a937","cc77cc1a.919e"],"x":175,"y":120,"wires":[["17156596.e5feaa","2352816f.68d65e","b60a4724.f653b8"]]},{"id":"2352816f.68d65e","type":"range","z":"1ef31402.6a4b5c","minin":"0","maxin":"100","minout":"0","maxout":"5.5","action":"scale","round":false,"property":"payload","name":"duty to watts","x":320,"y":160,"wires":[[]]},{"id":"399b8ab3.6db896","type":"change","z":"b907c529.c47d08","name":"zero everything","rules":[{"t":"set","p":"last_error","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"integrator","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"derivative","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"last_error","pt":"flow","to":"last_error","tot":"msg"},{"t":"set","p":"integrator","pt":"flow","to":"integrator","tot":"msg"},{"t":"set","p":"output","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"target","pt":"msg","to":"bk_target","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1000,"wires":[["c4505844.8a5b58"]]},{"id":"1dc7f0b9.1f9fef","type":"link out","z":"b907c529.c47d08","name":"Boil PID display","links":["5285e8f7.b9ad08","eda67ad.0cd1d88","3d3edc7.4687524","6bcd487d.aedee8","9e568563.4e1098"],"x":695,"y":120,"wires":[]},{"id":"b60a4724.f653b8","type":"ui_text","z":"1ef31402.6a4b5c","group":"c42caab5.087ea8","order":3,"width":2,"height":1,"name":"element duty","label":"Output","format":"{{payload | number:0}}","layout":"col-center","x":400,"y":120,"wires":[]},{"id":"c620d9ab.dec7c8","type":"link in","z":"b907c529.c47d08","name":"PID button","links":["89ce3e25.3ad2f8","9b2f1a09.c9a5c8"],"x":155,"y":1120,"wires":[["e7b29542.568348"]]},{"id":"9b857550.01d1c8","type":"link out","z":"b907c529.c47d08","name":"Boil Try Output","links":["7a316d2d.27a0a4"],"x":535,"y":1120,"wires":[]},{"id":"f863f74b.9486b8","type":"link out","z":"b907c529.c47d08","name":"Boil Try Output","links":["7a316d2d.27a0a4"],"x":535,"y":1200,"wires":[]},{"id":"a652e18b.c251a","type":"link in","z":"b907c529.c47d08","name":"Manual button","links":["ed41478a.5a2028","653a63b.1dec79c"],"x":155,"y":1160,"wires":[["56812efb.3243c"]]},{"id":"f26fea3.2067a18","type":"link in","z":"b907c529.c47d08","name":"Manual button","links":["ed41478a.5a2028","653a63b.1dec79c"],"x":155,"y":980,"wires":[["399b8ab3.6db896"]]},{"id":"16956580.abc86b","type":"link in","z":"b907c529.c47d08","name":"Off button","links":["1ed16f08.3c69a1","11c18a22.2ff07e","fd8c477a.99a1a"],"x":155,"y":1200,"wires":[["1c21b35b.087f1d"]]},{"id":"20ba1272.f250ce","type":"link in","z":"b907c529.c47d08","name":"Off button","links":["230f0dc1.0da682","d068c868.178e4","1ed16f08.3c69a1","11c18a22.2ff07e","fd8c477a.99a1a"],"x":155,"y":1060,"wires":[["ffcca7bf.2ba8c8"]]},{"id":"9f6d4152.e4ed4","type":"inject","z":"b907c529.c47d08","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":230,"y":900,"wires":[["230f0dc1.0da682"]]},{"id":"5c7a77c7.fe7bd8","type":"link in","z":"b907c529.c47d08","name":"Off button","links":["1ed16f08.3c69a1","230f0dc1.0da682","11c18a22.2ff07e","fd8c477a.99a1a"],"x":155,"y":1020,"wires":[["399b8ab3.6db896"]]},{"id":"230f0dc1.0da682","type":"link out","z":"b907c529.c47d08","name":"Off button - initialization","links":["20ba1272.f250ce","fef3477d.8ded48","5c7a77c7.fe7bd8"],"x":355,"y":900,"wires":[]},{"id":"29fd68ad.e65cc8","type":"ui_button","z":"a7304127.cd25e","name":"","group":"bf96f83d.953be8","order":5,"width":2,"height":1,"passthru":false,"label":"Manual","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":300,"y":100,"wires":[["653a63b.1dec79c"]]},{"id":"aa43fd41.b8f6b","type":"ui_button","z":"a7304127.cd25e","name":"","group":"bf96f83d.953be8","order":4,"width":2,"height":1,"passthru":false,"label":"Auto","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":290,"y":60,"wires":[["9b2f1a09.c9a5c8"]]},{"id":"49d59d95.8cbd74","type":"ui_button","z":"a7304127.cd25e","name":"","group":"bf96f83d.953be8","order":6,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"false","payloadType":"bool","topic":"","x":290,"y":140,"wires":[["1ed16f08.3c69a1"]]},{"id":"4c9fb55e.c6a8ec","type":"link in","z":"a7304127.cd25e","name":"PID button colour","links":["5b513d93.0cfb54","cd8fd53.01d4928"],"x":175,"y":60,"wires":[["aa43fd41.b8f6b"]]},{"id":"1ff3ae36.5314e2","type":"link in","z":"a7304127.cd25e","name":"Manual button colour","links":["cdd4b5fc.d0eca8"],"x":175,"y":100,"wires":[["29fd68ad.e65cc8"]]},{"id":"806e91a6.84d86","type":"link in","z":"a7304127.cd25e","name":"Off button colour","links":["b60b7db8.00665"],"x":175,"y":140,"wires":[["49d59d95.8cbd74"]]},{"id":"9b2f1a09.c9a5c8","type":"link out","z":"a7304127.cd25e","name":"PID button","links":["c620d9ab.dec7c8","af8f7b16.3d8ae8","33689b59.85f334","f54a6c4.7ebdc9"],"x":415,"y":60,"wires":[]},{"id":"653a63b.1dec79c","type":"link out","z":"a7304127.cd25e","name":"Manual button","links":["af8f7b16.3d8ae8","a652e18b.c251a","f26fea3.2067a18","33689b59.85f334","f54a6c4.7ebdc9"],"x":415,"y":100,"wires":[]},{"id":"1ed16f08.3c69a1","type":"link out","z":"a7304127.cd25e","name":"Off button","links":["5c7a77c7.fe7bd8","af8f7b16.3d8ae8","33689b59.85f334","20ba1272.f250ce","f54a6c4.7ebdc9","16956580.abc86b"],"x":415,"y":140,"wires":[]},{"id":"7e28d919.ea6028","type":"delay","z":"a7304127.cd25e","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":300,"wires":[["3b0f0237.1cf58e"]]},{"id":"5b513d93.0cfb54","type":"link out","z":"a7304127.cd25e","name":"PID button colour","links":["4c9fb55e.c6a8ec"],"x":755,"y":320,"wires":[]},{"id":"af8f7b16.3d8ae8","type":"link in","z":"a7304127.cd25e","name":"Button click","links":["653a63b.1dec79c","1ed16f08.3c69a1","9b2f1a09.c9a5c8","11c18a22.2ff07e","fd8c477a.99a1a"],"x":175,"y":300,"wires":[["7e28d919.ea6028"]]},{"id":"f68c0804.addd78","type":"change","z":"a7304127.cd25e","name":"off colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["cdd4b5fc.d0eca8"]]},{"id":"5ed00c10.47d734","type":"change","z":"a7304127.cd25e","name":"on colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"#424242","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":400,"wires":[["cdd4b5fc.d0eca8"]]},{"id":"90ac3a72.502848","type":"switch","z":"a7304127.cd25e","name":"","property":"bk_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":440,"wires":[["96286dfb.80a9f"],["f68c0804.addd78"]]},{"id":"a337f6da.f41778","type":"delay","z":"a7304127.cd25e","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":400,"wires":[["90ac3a72.502848"]]},{"id":"cdd4b5fc.d0eca8","type":"link out","z":"a7304127.cd25e","name":"Manual button colour","links":["1ff3ae36.5314e2"],"x":785,"y":420,"wires":[]},{"id":"1d95bce7.cffb43","type":"change","z":"a7304127.cd25e","name":"off colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"#424242","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":560,"wires":[["b60b7db8.00665"]]},{"id":"2c5a71f9.09c70e","type":"change","z":"a7304127.cd25e","name":"on colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["b60b7db8.00665"]]},{"id":"b0783f03.bf5da","type":"switch","z":"a7304127.cd25e","name":"","property":"bk_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":540,"wires":[["2c5a71f9.09c70e"],["1d95bce7.cffb43"]]},{"id":"dda84c83.36f03","type":"delay","z":"a7304127.cd25e","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":500,"wires":[["b0783f03.bf5da"]]},{"id":"b60b7db8.00665","type":"link out","z":"a7304127.cd25e","name":"Off button colour","links":["806e91a6.84d86","3e0efd1.4d98882","c98ea849.baf91"],"x":605,"y":540,"wires":[]},{"id":"96286dfb.80a9f","type":"switch","z":"a7304127.cd25e","name":"","property":"bk_pid","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":420,"wires":[["5ed00c10.47d734"],["f68c0804.addd78"]]},{"id":"3b0f0237.1cf58e","type":"switch","z":"a7304127.cd25e","name":"","property":"bk_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[["4073fa25.1d82c4"],["9b547600.f1eca8"]]},{"id":"4073fa25.1d82c4","type":"switch","z":"a7304127.cd25e","name":"","property":"bk_pid","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":320,"wires":[["db61610e.10434"],["9b547600.f1eca8"]]},{"id":"db61610e.10434","type":"change","z":"a7304127.cd25e","name":"on colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"#424242","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[["5b513d93.0cfb54"]]},{"id":"9b547600.f1eca8","type":"change","z":"a7304127.cd25e","name":"off colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["5b513d93.0cfb54"]]},{"id":"fef3477d.8ded48","type":"link in","z":"b907c529.c47d08","name":"Off button - initialization","links":["230f0dc1.0da682"],"x":155,"y":940,"wires":[["9060dfeb.ff581"]]},{"id":"9060dfeb.ff581","type":"change","z":"b907c529.c47d08","name":"bk_lock, bk_on, bk_pid, bk_try = false","rules":[{"t":"set","p":"bk_lock","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"bk_on","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"bk_pid","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"bk_try","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":940,"wires":[[]]},{"id":"f54a6c4.7ebdc9","type":"link in","z":"a7304127.cd25e","name":"Button click","links":["653a63b.1dec79c","1ed16f08.3c69a1","9b2f1a09.c9a5c8","11c18a22.2ff07e","fd8c477a.99a1a"],"x":175,"y":400,"wires":[["a337f6da.f41778"]]},{"id":"33689b59.85f334","type":"link in","z":"a7304127.cd25e","name":"Button click","links":["653a63b.1dec79c","1ed16f08.3c69a1","9b2f1a09.c9a5c8","11c18a22.2ff07e","fd8c477a.99a1a"],"x":175,"y":500,"wires":[["dda84c83.36f03"]]},{"id":"d99c713.a25f19","type":"link in","z":"a7304127.cd25e","name":"Button initialization","links":["a902d194.51df48","fbc2a2b2.8dcaa"],"x":175,"y":340,"wires":[["3b0f0237.1cf58e"]]},{"id":"94a78fe8.6ccf5","type":"link in","z":"a7304127.cd25e","name":"Button initialization","links":["a902d194.51df48","fbc2a2b2.8dcaa"],"x":175,"y":440,"wires":[["90ac3a72.502848"]]},{"id":"dea3c726.2321f8","type":"link in","z":"a7304127.cd25e","name":"Button initialization","links":["a902d194.51df48","fbc2a2b2.8dcaa"],"x":175,"y":540,"wires":[["b0783f03.bf5da"]]},{"id":"7c25f26c.c7192c","type":"ui_ui_control","z":"a7304127.cd25e","name":"","x":220,"y":220,"wires":[["fbc2a2b2.8dcaa"]]},{"id":"fbc2a2b2.8dcaa","type":"link out","z":"a7304127.cd25e","name":"Button initialization on connection","links":["d99c713.a25f19","dea3c726.2321f8","94a78fe8.6ccf5"],"x":415,"y":220,"wires":[]},{"id":"6583c1b8.9df6b","type":"ui_slider","z":"b907c529.c47d08","name":"kettle target slider","label":"Target","tooltip":"","group":"bf96f83d.953be8","order":7,"width":5,"height":1,"passthru":true,"outs":"all","topic":"","min":"25","max":"100","step":"0.5","x":300,"y":320,"wires":[["8ada60cc.b7b07","97e976f7.e74058","18962be0.30ba34"]]},{"id":"6047be58.0074","type":"ui_slider","z":"b907c529.c47d08","name":"manual duty slider","label":"Manual","tooltip":"","group":"bf96f83d.953be8","order":9,"width":5,"height":1,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"1.0","x":300,"y":460,"wires":[["6a8106b5.666fe8","af8baf54.f018d"]]},{"id":"af8baf54.f018d","type":"ui_text","z":"b907c529.c47d08","group":"bf96f83d.953be8","order":10,"width":1,"height":1,"name":"Manual Duty","label":"","format":"{{payload | number:0}}٪","layout":"row-center","x":560,"y":500,"wires":[]},{"id":"19940d1b.36c2c3","type":"ui_ui_control","z":"86fbd43c.6c8fd8","name":"ui control","x":410,"y":360,"wires":[[]]},{"id":"1e7051.38bd0fb","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"1987ef0.0633911","order":5,"width":4,"height":1,"passthru":false,"label":"PID","tooltip":"","color":"#757575","bgcolor":"white","icon":"","payload":"3","payloadType":"num","topic":"","x":130,"y":400,"wires":[["19940d1b.36c2c3"]]},{"id":"3ae9a33f.06e76c","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"c42caab5.087ea8","order":11,"width":2,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"#757575","bgcolor":"#e0e0e0","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":440,"wires":[["19940d1b.36c2c3"]]},{"id":"3ff416bd.9d129a","type":"ui_template","z":"86fbd43c.6c8fd8","d":true,"group":"c3f935d2.2206c8","name":"display dashboard as 1 or 2 columns","order":4,"width":0,"height":0,"format":"<style>\n@media only screen and (min-width: 800px) { .masonry-container {\n    width: 800px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":200,"y":60,"wires":[[]]},{"id":"7f225c0e.997b24","type":"inject","z":"85f14844.85a3d8","name":"","props":[{"p":"payload","v":"0","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":60,"wires":[["eb13dbfb.26cec8"]]},{"id":"5b99e250.67ae6c","type":"change","z":"85f14844.85a3d8","name":"pump update","rules":[{"t":"set","p":"payload","pt":"msg","to":"pump_state","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[["acf6ffff.c78c6"]]},{"id":"eb13dbfb.26cec8","type":"change","z":"85f14844.85a3d8","name":"","rules":[{"t":"set","p":"pump_state","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[[]]},{"id":"1fe2a3cd.8d15cc","type":"ui_template","z":"86fbd43c.6c8fd8","d":true,"group":"c3f935d2.2206c8","name":"centre group titles","order":5,"width":0,"height":0,"format":"<style>\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":140,"y":100,"wires":[[]]},{"id":"fec357.d3f40ca8","type":"delay","z":"a0639205.ab602","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":360,"wires":[["4f21335c.06275c"]]},{"id":"4f21335c.06275c","type":"link out","z":"a0639205.ab602","name":"PID trigger","links":["e2752502.e18d38"],"x":585,"y":360,"wires":[]},{"id":"fbbcc2a4.abf85","type":"inject","z":"e71b7d5a.0fc7a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":120,"wires":[["30152791.424ad8","33598.5567ba68a"]]},{"id":"30152791.424ad8","type":"change","z":"e71b7d5a.0fc7a","name":"","rules":[{"t":"set","p":"temp_log","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[[]]},{"id":"33598.5567ba68a","type":"ui_switch","z":"e71b7d5a.0fc7a","name":"","label":"Temperature","tooltip":"","group":"95fc83cc.293e1","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":120,"wires":[["30152791.424ad8"]]},{"id":"5684eacd.cf3c94","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"1987ef0.0633911","order":2,"width":4,"height":1,"passthru":false,"label":"General","tooltip":"","color":"#757575","bgcolor":"white","icon":"","payload":"2","payloadType":"num","topic":"","x":140,"y":320,"wires":[["19940d1b.36c2c3"]]},{"id":"ea79aa31.f31348","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"95fc83cc.293e1","order":7,"width":2,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"#757575","bgcolor":"#e0e0e0","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":360,"wires":[["19940d1b.36c2c3"]]},{"id":"296ec5c2.2c80ba","type":"inject","z":"e71b7d5a.0fc7a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":360,"wires":[["ad204350.39de2","d95064ba.63f008"]]},{"id":"ad204350.39de2","type":"change","z":"e71b7d5a.0fc7a","name":"","rules":[{"t":"set","p":"pid_log","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[[]]},{"id":"d95064ba.63f008","type":"ui_switch","z":"e71b7d5a.0fc7a","name":"","label":"PID Calculation","tooltip":"","group":"95fc83cc.293e1","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":360,"wires":[["ad204350.39de2"]]},{"id":"3506f083.b8d4","type":"ui_text","z":"a0639205.ab602","group":"c42caab5.087ea8","order":1,"width":2,"height":1,"name":"PID temperature1 display","label":"Kettle","format":"{{msg.payload | number:1}}°C","layout":"col-center","x":700,"y":140,"wires":[]},{"id":"97e976f7.e74058","type":"ui_text","z":"b907c529.c47d08","group":"c42caab5.087ea8","order":2,"width":2,"height":1,"name":"PID kettle target temp","label":"Target","format":"{{payload | number:1}}°C","layout":"col-center","x":590,"y":340,"wires":[]},{"id":"6647c989.e9f588","type":"inject","z":"e71b7d5a.0fc7a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0.25","payloadType":"num","x":90,"y":200,"wires":[["895498f2.6b69e8","80d654db.b07788"]]},{"id":"895498f2.6b69e8","type":"change","z":"e71b7d5a.0fc7a","name":"","rules":[{"t":"set","p":"temp_log_delta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[[]]},{"id":"9219c0fa.83b29","type":"change","z":"b907c529.c47d08","name":"","rules":[{"t":"set","p":"bk_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[[]]},{"id":"5d9d768e.42a888","type":"influxdb in","z":"e71b7d5a.0fc7a","d":true,"influxdb":"85ac710a.94fc1","name":"Find last logged temp in influxdb","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":440,"y":580,"wires":[["b7ce52f0.dd385"]]},{"id":"b7ce52f0.dd385","type":"function","z":"e71b7d5a.0fc7a","d":true,"name":"Construct log entry","func":"if(msg.payload.length === 0 || Math.abs(msg.payload[0].last - global.get(msg.topic)) >= global.get(\"temp_log_delta\")){\nmsg.payload = [\n    {\n        measurement: msg.topic,\n        fields: {\n            temperature: global.get(msg.topic),\n            brew: global.get(\"brew-label\")\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg}else {\n    return null\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":620,"wires":[["1d16a329.f99dad"]]},{"id":"7f01652b.25673c","type":"function","z":"e71b7d5a.0fc7a","d":true,"name":"Construct query to influxdb","func":"msg.query = `SELECT last(value) FROM \"${msg.topic}\"`\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":540,"wires":[["5d9d768e.42a888"]]},{"id":"80a72091.503f4","type":"switch","z":"e71b7d5a.0fc7a","d":true,"name":"Temp logging on?","property":"temp_log","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":500,"wires":[["7f01652b.25673c"]]},{"id":"4aa64b6a.b63bf4","type":"link in","z":"e71b7d5a.0fc7a","name":"","links":["8bf74b90.cdd918","4b82c6b3.19fc78","4def39cb.5a9108"],"x":175,"y":500,"wires":[["80a72091.503f4"]]},{"id":"1fe67fac.aefc","type":"link in","z":"e71b7d5a.0fc7a","name":"Mash PID logger","links":["188af9c8.60be86","7842e91c.2cb198"],"x":175,"y":840,"wires":[["871d75e6.e5d2f8"]]},{"id":"6bcd487d.aedee8","type":"link in","z":"e71b7d5a.0fc7a","name":"Boil PID logger","links":["c4505844.8a5b58","1dc7f0b9.1f9fef"],"x":175,"y":900,"wires":[["d436c8df.ff5b78"]]},{"id":"871d75e6.e5d2f8","type":"switch","z":"e71b7d5a.0fc7a","name":"PID logging on?","property":"pid_log","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":840,"wires":[["96961668.cd31f8"]]},{"id":"1b167ff0.7151f","type":"inject","z":"e71b7d5a.0fc7a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":280,"wires":[["363a8555.2d482a","db7401ec.d6679"]]},{"id":"363a8555.2d482a","type":"change","z":"e71b7d5a.0fc7a","name":"","rules":[{"t":"set","p":"output_log","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[[]]},{"id":"db7401ec.d6679","type":"ui_switch","z":"e71b7d5a.0fc7a","name":"","label":"GPIO Output","tooltip":"","group":"95fc83cc.293e1","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":280,"wires":[["363a8555.2d482a"]]},{"id":"80d654db.b07788","type":"ui_numeric","z":"e71b7d5a.0fc7a","name":"","label":"Threshold","tooltip":"","group":"95fc83cc.293e1","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":0,"max":"2","step":"0.05","x":260,"y":200,"wires":[["895498f2.6b69e8"]]},{"id":"3b0908c2.1bd6f8","type":"function","z":"e71b7d5a.0fc7a","name":"Format output for influxdb","func":"msg.payload = [\n    {\n        measurement: \"PID-mash-inner-loop\",\n        fields: {\n            target: msg.inner_target,\n            output: msg.inner_output,\n            error: msg.last_inner_error,\n            integrator: msg.inner_integrator,\n            derivative: msg.inner_derivative,\n            //active: global.get(\"rims_on\"),\n            brew: global.get(\"brew-label\")\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":820,"wires":[["a31cfa98.a37d58"]]},{"id":"d436c8df.ff5b78","type":"switch","z":"e71b7d5a.0fc7a","name":"PID logging on?","property":"pid_log","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":900,"wires":[["5531ca5e.398234"]]},{"id":"a31cfa98.a37d58","type":"influxdb batch","z":"e71b7d5a.0fc7a","d":true,"influxdb":"85ac710a.94fc1","precision":"","retentionPolicy":"","name":"","x":1240,"y":920,"wires":[]},{"id":"6d2dec34.a29da4","type":"function","z":"e71b7d5a.0fc7a","name":"Format output for influxdb","func":"msg.payload = [\n    {\n        measurement: \"PID-boil-main-loop\",\n        fields: {\n            target: msg.target,\n            output: msg.output,\n            error: msg.last_error,\n            integrator: msg.integrator,\n            derivative: msg.derivative,\n            //active: global.get(\"bk_pid\"),\n            brew: global.get(\"brew-label\")\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":900,"wires":[["a31cfa98.a37d58"]]},{"id":"5cd50f26.6c28","type":"influxdb batch","z":"e71b7d5a.0fc7a","d":true,"influxdb":"85ac710a.94fc1","precision":"","retentionPolicy":"","name":"","x":520,"y":700,"wires":[]},{"id":"cd073ffa.3280c","type":"link in","z":"e71b7d5a.0fc7a","name":"BK GPIO logger","links":["19bbd91a.d2a937","cc77cc1a.919e"],"x":175,"y":980,"wires":[["c09e2664.d77cf8"]]},{"id":"c09e2664.d77cf8","type":"switch","z":"e71b7d5a.0fc7a","name":"Output logging on?","property":"output_log","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":980,"wires":[["7d003bb9.db4e84"]]},{"id":"6b7c83e3.1e72ac","type":"function","z":"e71b7d5a.0fc7a","name":"Format output for influxdb","func":"msg.payload = [\n    {\n        measurement: \"output-BK\",\n        fields: {\n            duty: msg.payload,\n            brew: global.get(\"brew-label\")\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":980,"wires":[["a31cfa98.a37d58"]]},{"id":"55f944c8.f1884c","type":"ui_text_input","z":"e71b7d5a.0fc7a","name":"","label":"Brew Label","tooltip":"","group":"95fc83cc.293e1","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":270,"y":40,"wires":[["ed60bbee.d074d8"]]},{"id":"4fc718e3.35ba18","type":"inject","z":"e71b7d5a.0fc7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Untitled","payloadType":"str","x":100,"y":40,"wires":[["55f944c8.f1884c","ed60bbee.d074d8"]]},{"id":"ed60bbee.d074d8","type":"change","z":"e71b7d5a.0fc7a","name":"","rules":[{"t":"set","p":"brew-label","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"96961668.cd31f8","type":"delay","z":"e71b7d5a.0fc7a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":840,"wires":[["304d26a1.86cf4a"]]},{"id":"5531ca5e.398234","type":"delay","z":"e71b7d5a.0fc7a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":900,"wires":[["d5b4e9f2.0940c8"]]},{"id":"7d003bb9.db4e84","type":"delay","z":"e71b7d5a.0fc7a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":980,"wires":[["3433927e.a1e5ae"]]},{"id":"1d16a329.f99dad","type":"delay","z":"e71b7d5a.0fc7a","d":true,"name":"","pauseType":"timed","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":480,"y":660,"wires":[["5cd50f26.6c28"]]},{"id":"304d26a1.86cf4a","type":"delay","z":"e71b7d5a.0fc7a","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":840,"wires":[["3b0908c2.1bd6f8","d0ebf501.2c1028"]]},{"id":"d5b4e9f2.0940c8","type":"delay","z":"e71b7d5a.0fc7a","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":900,"wires":[["6d2dec34.a29da4"]]},{"id":"3433927e.a1e5ae","type":"delay","z":"e71b7d5a.0fc7a","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":980,"wires":[["6b7c83e3.1e72ac"]]},{"id":"d0ebf501.2c1028","type":"function","z":"e71b7d5a.0fc7a","name":"Format output for influxdb","func":"msg.payload = [\n    {\n        measurement: \"PID-mash-outer-loop\",\n        fields: {\n            target: msg.outer_target,\n            output: msg.outer_output,\n            error: msg.last_outer_error,\n            integrator: msg.outer_integrator,\n            derivative: msg.outer_derivative,\n            //active: global.get(\"rims_on\"),\n            brew: global.get(\"brew-label\")\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":860,"wires":[["a31cfa98.a37d58"]]},{"id":"c986cf8f.9420e","type":"ui_text","z":"b907c529.c47d08","group":"c42caab5.087ea8","order":7,"width":2,"height":1,"name":"BK PID Integrator","label":"Integral","format":"{{integrator | number:1}}°C/s","layout":"col-center","x":950,"y":80,"wires":[]},{"id":"dd96da93.00b2d8","type":"ui_text","z":"b907c529.c47d08","group":"c42caab5.087ea8","order":5,"width":2,"height":1,"name":"BK PID Error","label":"Error","format":"{{last_error | number:1}}°C","layout":"col-center","x":940,"y":40,"wires":[]},{"id":"f2b67bcd.5a1358","type":"ui_text","z":"b907c529.c47d08","group":"c42caab5.087ea8","order":9,"width":2,"height":1,"name":"BK PID Derivative","label":"Derivative","format":"{{derivative | number:1}}°C/s","layout":"col-center","x":950,"y":120,"wires":[]},{"id":"9e568563.4e1098","type":"link in","z":"b907c529.c47d08","name":"Boil PID display","links":["c4505844.8a5b58","1dc7f0b9.1f9fef"],"x":795,"y":80,"wires":[["c986cf8f.9420e","f2b67bcd.5a1358","dd96da93.00b2d8"]]},{"id":"ea194e75.e5b09","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"c3f935d2.2206c8","order":2,"width":4,"height":1,"passthru":false,"label":"Settings","tooltip":"","color":"#757575","bgcolor":"white","icon":"","payload":"1","payloadType":"str","topic":"","x":100,"y":240,"wires":[["19940d1b.36c2c3"]]},{"id":"68b94b5b.decd74","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"1987ef0.0633911","order":8,"width":2,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"#757575","bgcolor":"#e0e0e0","icon":"","payload":"0","payloadType":"str","topic":"","x":110,"y":280,"wires":[["19940d1b.36c2c3"]]},{"id":"c2772aed.d72de8","type":"http request","z":"9fab0fa7.a0c76","d":true,"name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.brewfather.app/v1/batches/{{payload}}?include=recipe.mash,mashStepsCount,recipe.data.mashFermentablesAmount,recipe.data.strikeTemp,recipe.data.totalWaterAmount","tls":"","persist":false,"proxy":"","authType":"basic","x":320,"y":540,"wires":[["d17bda65.c80ce8","df0a25f3.430e38","2bedfe6d.f611f2","3dfca414.5530cc","9737eeb2.221a4","31a8e64c.76042a"]]},{"id":"df0a25f3.430e38","type":"function","z":"9fab0fa7.a0c76","name":"number of mash steps","func":"msg.payload = msg.payload.mashStepsCount;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":440,"wires":[["18109734.347159"]]},{"id":"2bedfe6d.f611f2","type":"function","z":"9fab0fa7.a0c76","name":"step times","func":"var nSteps = msg.payload.mashStepsCount;\nvar stepTimes = [null, null, null, null];\n\nfor (var i = 0; i < nSteps; i++) {\n    stepTimes[i] = { payload: msg.payload.recipe.mash.steps[i].stepTime }\n}\n\nreturn stepTimes;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":590,"y":660,"wires":[["e309542f.fae238"],["9c0becaa.42395"],["995fe5cd.2165e8"],["ad6acd50.d022a"]]},{"id":"e309542f.fae238","type":"link out","z":"9fab0fa7.a0c76","name":"stepTime1","links":["cbde244b.d1b0e8","1e4ccc36.6e9074","6a0c7b36.c4a5c4"],"x":735,"y":600,"wires":[]},{"id":"9c0becaa.42395","type":"link out","z":"9fab0fa7.a0c76","name":"stepTime2","links":["779378f6.7163d8","3a246502.12550a"],"x":735,"y":640,"wires":[]},{"id":"995fe5cd.2165e8","type":"link out","z":"9fab0fa7.a0c76","name":"stepTime3","links":["64755469.564f2c"],"x":735,"y":680,"wires":[]},{"id":"ad6acd50.d022a","type":"link out","z":"9fab0fa7.a0c76","name":"stepTime4","links":["444c3c34.f5f894"],"x":735,"y":720,"wires":[]},{"id":"3dfca414.5530cc","type":"function","z":"9fab0fa7.a0c76","name":"step temps","func":"var nSteps = msg.payload.mashStepsCount;\nvar temps = [null, null, null, null]\n\nfor (var i = 0; i < nSteps; i++) {\n    temps[i] = { payload: msg.payload.recipe.mash.steps[i].stepTemp }\n}\n\nreturn temps;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":590,"y":840,"wires":[["a1a0a462.cb6a18"],["fa3954cc.cffc18"],["ce85bf2a.6a3f2"],["239c6a.3eb82396"]]},{"id":"a1a0a462.cb6a18","type":"link out","z":"9fab0fa7.a0c76","name":"stepTemp1","links":["a195e7e7.ca02d8","848b8ed4.be2f7","fa93abb5.5b1418"],"x":735,"y":780,"wires":[]},{"id":"fa3954cc.cffc18","type":"link out","z":"9fab0fa7.a0c76","name":"stepTemp2","links":["e3df61a6.7ef94","ac637825.ccfe68"],"x":735,"y":820,"wires":[]},{"id":"ce85bf2a.6a3f2","type":"link out","z":"9fab0fa7.a0c76","name":"stepTemp3","links":["549a4405.80df3c"],"x":735,"y":860,"wires":[]},{"id":"239c6a.3eb82396","type":"link out","z":"9fab0fa7.a0c76","name":"stepTemp4","links":["809156f1.4f9c18"],"x":735,"y":900,"wires":[]},{"id":"9737eeb2.221a4","type":"function","z":"9fab0fa7.a0c76","name":"recipe info","func":"var batch = msg.payload;\n\nmsg.batchName = batch.name;\nmsg.batchNumber = batch.batchNo;\nmsg.recipeName = batch.recipe.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":960,"wires":[["62d72874.edd608","7223b095.1072f"]]},{"id":"62d72874.edd608","type":"ui_template","z":"9fab0fa7.a0c76","group":"6f27a610.bd6858","name":"batch info","order":3,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 18px\">\n    <div style=\"width: 100%\">\n        <span>{{msg.batchName || '&lt;recipe info not loaded&gt;'}}</span>\n        <span>{{msg.batchNumber}}</span>\n    </div>\n    <span>{{msg.recipeName}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":790,"y":960,"wires":[[]]},{"id":"4c66de3.48dd22","type":"ui_button","z":"9fab0fa7.a0c76","name":"import batch","group":"6f27a610.bd6858","order":2,"width":2,"height":1,"passthru":false,"label":"Import","tooltip":"","color":"#757575","bgcolor":"#e0e0e0","icon":"","payload":"selected_batch_id","payloadType":"flow","topic":"","x":120,"y":580,"wires":[["e0ef011f.e48b3","c2772aed.d72de8"]]},{"id":"bb07e227.c5785","type":"ui_dropdown","z":"9fab0fa7.a0c76","name":"","label":"","tooltip":"","place":"Select batch","group":"6f27a610.bd6858","order":1,"width":5,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":710,"y":280,"wires":[["b5f1d0c.813e73"]]},{"id":"f6bbf06b.46724","type":"function","z":"9fab0fa7.a0c76","name":"transform options","func":"var options = msg.payload.map(function(batch) {\n    var label = batch.name + \" #\" + batch.batchNo + \" - \" + batch.recipe.name;\n    var option = {};\n    option[label] = batch._id;\n    return option;\n});\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["bb07e227.c5785"]]},{"id":"b5f1d0c.813e73","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"selected_batch_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":280,"wires":[[]]},{"id":"8640deb.f8d8e2","type":"sort","z":"9fab0fa7.a0c76","name":"","order":"descending","as_num":true,"target":"payload","targetType":"msg","msgKey":"payload.batchNo","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":550,"y":160,"wires":[["f6bbf06b.46724"]]},{"id":"dbee1fb1.ce2f7","type":"http request","z":"9fab0fa7.a0c76","d":true,"name":"get batches","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.brewfather.app/v1/batches","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":80,"wires":[["8640deb.f8d8e2","337138d2.b28fe8"]]},{"id":"8b4442b2.112df","type":"comment","z":"9fab0fa7.a0c76","name":"get batches API call","info":"# Brewfather API URL\nhttps://api.brewfather.app/v1/batches\n\nNode configured to only pull list of batches (no accociated batch data retrieved with this API call).","x":380,"y":40,"wires":[]},{"id":"d0c65701.077e88","type":"comment","z":"9fab0fa7.a0c76","name":"get batch API call","info":"# Brewfather API URL\nhttps://api.brewfather.app/v1/batches/{{payload}}?include=recipe.mash,mashStepsCount,recipe.data.mashFermentablesAmount,recipe.data.strikeTemp,recipe.data.totalWaterAmount\n\nNode configured to pull specified data fields for selected batch.\n\n\n# Get selected batch (hardcoded)\nhttps://api.brewfather.app/v1/batches/:id\n\nwhere :id is the _id property from the batch JSON\n\n# Get selected batch (dynamic)\nhttps://api.brewfather.app/v1/batches/{{payload}}\n\nFor dynamic http reuests, look at \"mustache templates\"...\nhttp://www.steves-internet-guide.com/node-red-http-request-node-beginners/","x":330,"y":500,"wires":[]},{"id":"337138d2.b28fe8","type":"debug","z":"9fab0fa7.a0c76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":80,"wires":[]},{"id":"d17bda65.c80ce8","type":"debug","z":"9fab0fa7.a0c76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":400,"wires":[]},{"id":"18109734.347159","type":"link out","z":"9fab0fa7.a0c76","name":"nMashSteps","links":["c6b92191.90a36","a42a7f0.3434c8","d08e7fd2.2efd4"],"x":795,"y":440,"wires":[]},{"id":"b64b29a0.832708","type":"brewfather-api-request","z":"9fab0fa7.a0c76","name":"get batches","property":"payload","propertyType":"msg","endpoint":"getbatches","include":[],"complete":false,"inventoryexist":false,"inventoryadjust":"","inventory":"","status":"Planning","offset":0,"limit":10,"x":350,"y":120,"wires":[["8640deb.f8d8e2","337138d2.b28fe8"]]},{"id":"9da3db93.1df758","type":"ui_button","z":"85f14844.85a3d8","name":"pump button","group":"bf96f83d.953be8","order":12,"width":2,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":200,"y":200,"wires":[["1a98e689.21d819"]]},{"id":"227a56d0.e1bd4a","type":"change","z":"85f14844.85a3d8","name":"pump ON","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-refresh fa-spin fa-1x\"></i> Pump","tot":"str"},{"t":"set","p":"pump_state","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["534e6403.5683fc"]]},{"id":"7cfca786.cded98","type":"inject","z":"85f14844.85a3d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":350,"y":260,"wires":[["9ff4adf3.81cae"]]},{"id":"1a98e689.21d819","type":"function","z":"85f14844.85a3d8","name":"state","func":"var state = context.state || false;\n  node.debug(\"state: \", context.state)\nstate = !state;\ncontext.state = state;\nif (state) { return [msg, null]; }\nelse { return [null, msg]; }\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["227a56d0.e1bd4a"],["9ff4adf3.81cae"]]},{"id":"9ff4adf3.81cae","type":"change","z":"85f14844.85a3d8","name":"pump OFF","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-refresh fa-1x\"></i> Pump","tot":"str"},{"t":"set","p":"pump_state","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["534e6403.5683fc"]]},{"id":"43601769.36f008","type":"comment","z":"85f14844.85a3d8","name":"button icon HTML","info":"## Pump Icons\n\n<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Off\n\n<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> On\n\n\n<div>\n<ng-md-icon icon=\"{{(msg.rims_lock || false) ? 'flash_off' : 'flash_on'}}\" size=120 style=\"{{(msg.bk_on || false) ? 'fill: gold' : 'fill: grey'}}; margin-top:-34px\"></ng-md-icon>\n</div>\n\n\nFire:\n<i class=\"fa fa-fire\" aria-hidden=\"true\"></i>\n\nPump (off):\n<i class=\"fa fa-refresh fa-2x\" aria-hidden=\"true\"></i>\n\nPump (on) - rotating\n<i class=\"fa fa-refresh fa-spin fa-2x fa-fw\"></i>\n<span class=\"sr-only\">Loading...</span>","x":550,"y":140,"wires":[]},{"id":"dcff14cf.cf83e8","type":"link in","z":"85f14844.85a3d8","name":"","links":["534e6403.5683fc"],"x":75,"y":200,"wires":[["9da3db93.1df758"]]},{"id":"ac7d1a5b.2f45b8","type":"link in","z":"85f14844.85a3d8","name":"Pump update","links":["bec86328.fbb05","534e6403.5683fc"],"x":715,"y":140,"wires":[["5b99e250.67ae6c"]]},{"id":"534e6403.5683fc","type":"link out","z":"85f14844.85a3d8","name":"","links":["dcff14cf.cf83e8","ac7d1a5b.2f45b8"],"x":675,"y":200,"wires":[]},{"id":"e0ef011f.e48b3","type":"brewfather-api-request","z":"9fab0fa7.a0c76","name":"get selected batch","property":"payload","propertyType":"msg","endpoint":"getbatch","include":["recipe.mash","mashStepsCount","recipe.data.strikeTemp","recipe.data.mashFermentablesAmount","recipe.data.mashWaterAmount","recipe.data.spargeWaterAmount","recipe.data.totalWaterAmount"],"complete":false,"inventoryexist":false,"inventoryadjust":"","inventory":"","status":"Planning","offset":0,"limit":10,"x":340,"y":580,"wires":[["d17bda65.c80ce8","df0a25f3.430e38","2bedfe6d.f611f2","3dfca414.5530cc","9737eeb2.221a4","31a8e64c.76042a"]]},{"id":"75e79db.59c7064","type":"ui_button","z":"8bb0b7a7.5f1d08","name":"start/stop","group":"4e459343.750bcc","order":3,"width":1,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":210,"y":140,"wires":[["149ccf22.418d41"]]},{"id":"df34cd24.1cbbd","type":"change","z":"8bb0b7a7.5f1d08","name":"start","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"material-icons\">stop</i>","tot":"str"},{"t":"set","p":"batch_state","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["5df1dfe3.911d2"]]},{"id":"5b035507.78189c","type":"inject","z":"8bb0b7a7.5f1d08","name":"initialize steps","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":350,"y":200,"wires":[["9ef7c7a3.31fcc8","21ca9f02.51476"]]},{"id":"149ccf22.418d41","type":"function","z":"8bb0b7a7.5f1d08","name":"state","func":"var state = context.state || false;\n  node.debug(\"state: \", context.state)\nstate = !state;\ncontext.state = state;\nif (state) { return [msg, null]; }\nelse { return [null, msg]; }\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["df34cd24.1cbbd"],["9ef7c7a3.31fcc8"]]},{"id":"9ef7c7a3.31fcc8","type":"change","z":"8bb0b7a7.5f1d08","name":"stop","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":" <i class=\"material-icons\">play_arrow</i>","tot":"str"},{"t":"set","p":"batch_state","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["5df1dfe3.911d2"]]},{"id":"a84bfe44.991ba","type":"comment","z":"8bb0b7a7.5f1d08","name":"button icon html","info":"## Start/StopIcons\n\n#Font Awesome\n<i class=\"fa fa-play-circle-o\" aria-hidden=\"true\"></i>\n\n<i class=\"fa fa-stop-circle-o\" aria-hidden=\"true\"></i>\n\n\n# Material Design\n<i class=\"material-icons\">play_circle_outline</i>\n\n<ng-md-icon icon=\"play_circle_outline\"></ng-md-icon>\n\n<i class=\"material-icons\">stop_circle</i>\n\n\n<div>\n<ng-md-icon icon=\"{{(msg.rims_lock || false) ? 'flash_off' : 'flash_on'}}\" size=120 style=\"{{(msg.bk_on || false) ? 'fill: gold' : 'fill: grey'}}; margin-top:-34px\"></ng-md-icon>\n</div>\n\n\n\n\nThe easiest way to set up icon fonts for use in any web page is through Google Web Fonts. All you need to do is include a single line of HTML:\n\n<link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\"\n      rel=\"stylesheet\">","x":570,"y":80,"wires":[]},{"id":"4cdf065.ded7ef8","type":"link in","z":"8bb0b7a7.5f1d08","name":"","links":["5df1dfe3.911d2"],"x":95,"y":140,"wires":[["75e79db.59c7064"]]},{"id":"5df1dfe3.911d2","type":"link out","z":"8bb0b7a7.5f1d08","name":"","links":["4cdf065.ded7ef8"],"x":695,"y":140,"wires":[]},{"id":"50a7987a.728698","type":"ui_button","z":"86fbd43c.6c8fd8","name":"batch import","group":"4e459343.750bcc","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"Import mash schedule.","color":"white","bgcolor":"grey","icon":"playlist_add","payload":"4","payloadType":"str","topic":"","x":120,"y":520,"wires":[["19940d1b.36c2c3"]]},{"id":"d540345d.950f68","type":"ui_dropdown","z":"9fab0fa7.a0c76","name":"mash steps","label":"","tooltip":"","place":"","group":"8abc699c.0e1778","order":1,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Disabled","value":0,"type":"num"},{"label":"1 mash step","value":"1","type":"str"},{"label":"2 mash steps","value":"2","type":"str"},{"label":"3 mash steps","value":"3","type":"str"},{"label":"4 mash steps","value":"4","type":"str"}],"payload":"","topic":"","x":230,"y":1280,"wires":[["1b762664.fe97aa"]]},{"id":"9565e2db.331a7","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step1time","label":"Step 1","tooltip":"","group":"8abc699c.0e1778","order":5,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}m","min":"0","max":"90","step":1,"x":190,"y":1540,"wires":[["a0c3a273.eb65e"]]},{"id":"c8694110.d106","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step1temp","label":"@","tooltip":"","group":"8abc699c.0e1778","order":6,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"25","max":"80","step":1,"x":750,"y":1540,"wires":[["c8586976.7e32c8"]]},{"id":"f6174d56.4169","type":"function","z":"9fab0fa7.a0c76","name":"show/hide mash steps","func":"if(flow.get('mash_steps') === 0){msg.payload = {group:{hide:[\"Brewfather_Import_Control1\", \"Brewfather_Import_Control3\", \"Brewfather_Import_Step4\", \"Brewfather_Import_Step3\", \"Brewfather_Import_Step2\", \"Brewfather_Import_Step1\", \"Brewfather_Import_Step4ro\", \"Brewfather_Import_Step3ro\", \"Brewfather_Import_Step2ro\", \"Brewfather_Import_Step1ro\"]}}}\nif(flow.get('mash_steps') == 1){msg.payload = {group:{hide:[\"Brewfather_Import_Step4\", \"Brewfather_Import_Step3\", \"Brewfather_Import_Step2\", \"Brewfather_Import_Step4ro\", \"Brewfather_Import_Step3ro\", \"Brewfather_Import_Step2ro\", \"Brewfather_Import_Step1ro\"], show:[\"Brewfather_Import_Control1\", \"Brewfather_Import_Control3\", \"Brewfather_Import_Step1\"]}}}\nif(flow.get('mash_steps') == 2){msg.payload = {group:{hide:[\"Brewfather_Import_Step4\", \"Brewfather_Import_Step3\", \"Brewfather_Import_Step4ro\", \"Brewfather_Import_Step3ro\", \"Brewfather_Import_Step2ro\", \"Brewfather_Import_Step1ro\"], show:[\"Brewfather_Import_Control1\", \"Brewfather_Import_Control3\", \"Brewfather_Import_Step1\", \"Brewfather_Import_Step2\"]}}}\nif(flow.get('mash_steps') == 3){msg.payload = {group:{hide:[\"Brewfather_Import_Step4\", \"Brewfather_Import_Step4ro\", \"Brewfather_Import_Step3ro\", \"Brewfather_Import_Step2ro\", \"Brewfather_Import_Step1ro\"], show:[\"Brewfather_Import_Control1\", \"Brewfather_Import_Control3\", \"Brewfather_Import_Step1\", \"Brewfather_Import_Step2\", \"Brewfather_Import_Step3\"]}}}\nif(flow.get('mash_steps') == 4){msg.payload = {group:{hide:[\"Brewfather_Import_Step4ro\", \"Brewfather_Import_Step3ro\", \"Brewfather_Import_Step2ro\", \"Brewfather_Import_Step1ro\"], show:[\"Brewfather_Import_Control1\", \"Brewfather_Import_Control3\", \"Brewfather_Import_Step1\", \"Brewfather_Import_Step2\", \"Brewfather_Import_Step3\", \"Brewfather_Import_Step4\"]}}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1280,"wires":[["ebee1c2e.7d7ae"]]},{"id":"90e5c6f.d78ff38","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step4time","label":"Step 4","tooltip":"","group":"8abc699c.0e1778","order":11,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}m","min":"0","max":"90","step":1,"x":210,"y":1840,"wires":[["56d0ace6.18bdb4"]]},{"id":"27e087b2.cbf178","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step4temp","label":"@","tooltip":"","group":"8abc699c.0e1778","order":12,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"25","max":"80","step":1,"x":750,"y":1840,"wires":[["42d62fc8.46833"]]},{"id":"2219d21a.cc239e","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step3time","label":"Step 3","tooltip":"","group":"8abc699c.0e1778","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}m","min":"0","max":"90","step":1,"x":210,"y":1740,"wires":[["90816b09.7f4308"]]},{"id":"d3a08dac.e0155","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step3temp","label":"@","tooltip":"","group":"8abc699c.0e1778","order":10,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"25","max":"80","step":1,"x":750,"y":1740,"wires":[["f7c27f09.5201d"]]},{"id":"7a18eca6.fafcf4","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step2time","label":"Step 2","tooltip":"","group":"8abc699c.0e1778","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}m","min":"0","max":"90","step":1,"x":210,"y":1640,"wires":[["d3a506d0.4e1958"]]},{"id":"8a6cd2e4.a54a8","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"step2temp","label":"@","tooltip":"","group":"8abc699c.0e1778","order":8,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"25","max":"80","step":1,"x":750,"y":1640,"wires":[["e3fa7e63.76acc"]]},{"id":"ed9be2.32cdd42","type":"inject","z":"9fab0fa7.a0c76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":1240,"wires":[["d540345d.950f68","1b762664.fe97aa"]]},{"id":"ab08e843.68bf18","type":"inject","z":"9fab0fa7.a0c76","name":"Initialize duration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":200,"y":1400,"wires":[["9565e2db.331a7","7a18eca6.fafcf4","2219d21a.cc239e","90e5c6f.d78ff38","a0c3a273.eb65e","d3a506d0.4e1958","90816b09.7f4308","56d0ace6.18bdb4"]]},{"id":"8273dc53.ab807","type":"inject","z":"9fab0fa7.a0c76","name":"Initialize temp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":720,"y":1400,"wires":[["c8694110.d106","8a6cd2e4.a54a8","d3a08dac.e0155","27e087b2.cbf178","e3fa7e63.76acc","c8586976.7e32c8","f7c27f09.5201d","42d62fc8.46833","34c156af.515cba"]]},{"id":"1b762664.fe97aa","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"mash_steps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1280,"wires":[["f6174d56.4169","d3e47e22.41a0f"]]},{"id":"a0c3a273.eb65e","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step1_duration","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1580,"wires":[["eeb06c28.baac9"]]},{"id":"d3a506d0.4e1958","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step2_duration","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1680,"wires":[["ce270be7.17e7e8"]]},{"id":"f7c27f09.5201d","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step3_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1780,"wires":[["19e4837c.53909d"]]},{"id":"56d0ace6.18bdb4","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step4_duration","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1880,"wires":[["540819db.2eb038"]]},{"id":"42d62fc8.46833","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step4_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1880,"wires":[["2195257a.e21a2a"]]},{"id":"90816b09.7f4308","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step3_duration","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1780,"wires":[["776e12b0.7b5c1c"]]},{"id":"e3fa7e63.76acc","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step2_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1680,"wires":[["85703fe1.2f21"]]},{"id":"c8586976.7e32c8","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"step1_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1580,"wires":[["21225405.677b4c"]]},{"id":"26acda0b.2e7ea6","type":"ui_ui_control","z":"9fab0fa7.a0c76","name":"Dashboard connection","x":210,"y":1060,"wires":[["6682fd07.f54414"]]},{"id":"6682fd07.f54414","type":"link out","z":"9fab0fa7.a0c76","name":"Connection established","links":["3e72a232.2d51de","dbdea54b.f74e28","efcb4c5c.98b54","70fb9444.7274dc"],"x":365,"y":1060,"wires":[]},{"id":"dbdea54b.f74e28","type":"link in","z":"9fab0fa7.a0c76","name":"Initialization","links":["6682fd07.f54414"],"x":555,"y":1240,"wires":[["f6174d56.4169"]]},{"id":"27047386.2907bc","type":"link in","z":"9fab0fa7.a0c76","name":"UI dynamics","links":["ebee1c2e.7d7ae","2900c1cc.ac8f8e","fda473b1.51713","8baaa2a6.c6868","3cbb5cc7.3c7574","2fb25d7d.780b52","20de8ace.a68276","abbcc3a.7157c4"],"x":65,"y":1060,"wires":[["26acda0b.2e7ea6"]]},{"id":"ebee1c2e.7d7ae","type":"link out","z":"9fab0fa7.a0c76","name":"Rest # selector","links":["27047386.2907bc"],"x":875,"y":1280,"wires":[]},{"id":"d3e47e22.41a0f","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["cde59838.b817d8","64b2f4c2.dd635c","9f5f2173.df414"],"x":635,"y":1320,"wires":[]},{"id":"eeb06c28.baac9","type":"link out","z":"9fab0fa7.a0c76","name":"rest1 length","links":["cde59838.b817d8","f90f0e84.06eab","9f5f2173.df414","844c030f.54575","5de60850.918ac8"],"x":495,"y":1580,"wires":[]},{"id":"ce270be7.17e7e8","type":"link out","z":"9fab0fa7.a0c76","name":"rest2 length","links":["cde59838.b817d8","b4e436d1.b8a708","9f5f2173.df414","9615c8c3.9126d8"],"x":495,"y":1680,"wires":[]},{"id":"776e12b0.7b5c1c","type":"link out","z":"9fab0fa7.a0c76","name":"rest3 length","links":["cde59838.b817d8","80a5839b.1c94a","9f5f2173.df414","e105ee56.0b901"],"x":495,"y":1780,"wires":[]},{"id":"540819db.2eb038","type":"link out","z":"9fab0fa7.a0c76","name":"rest4 length","links":["cde59838.b817d8","93b71550.59bce8","9f5f2173.df414","7af07c1c.45d1f4"],"x":495,"y":1880,"wires":[]},{"id":"21225405.677b4c","type":"link out","z":"9fab0fa7.a0c76","name":"rest1 temp","links":["f90f0e84.06eab","844c030f.54575","5de60850.918ac8"],"x":1015,"y":1580,"wires":[]},{"id":"85703fe1.2f21","type":"link out","z":"9fab0fa7.a0c76","name":"rest2 temp","links":["b4e436d1.b8a708","9615c8c3.9126d8"],"x":1015,"y":1680,"wires":[]},{"id":"19e4837c.53909d","type":"link out","z":"9fab0fa7.a0c76","name":"rest3 temp","links":["80a5839b.1c94a","e105ee56.0b901"],"x":1015,"y":1780,"wires":[]},{"id":"2195257a.e21a2a","type":"link out","z":"9fab0fa7.a0c76","name":"rest4 temp","links":["93b71550.59bce8","7af07c1c.45d1f4"],"x":1015,"y":1880,"wires":[]},{"id":"d08e7fd2.2efd4","type":"link in","z":"9fab0fa7.a0c76","name":"nMashSteps","links":["a30a768d.86bf48","18109734.347159"],"x":115,"y":1280,"wires":[["d540345d.950f68"]]},{"id":"6a0c7b36.c4a5c4","type":"link in","z":"9fab0fa7.a0c76","name":"stepTime1","links":["ceea2b19.b099d8","c9456939.807858","e309542f.fae238"],"x":85,"y":1540,"wires":[["9565e2db.331a7"]]},{"id":"3a246502.12550a","type":"link in","z":"9fab0fa7.a0c76","name":"stepTime2","links":["cbcd759f.0212e8","bd7c300f.25601","9c0becaa.42395"],"x":85,"y":1640,"wires":[["7a18eca6.fafcf4"]]},{"id":"64755469.564f2c","type":"link in","z":"9fab0fa7.a0c76","name":"stepTime3","links":["8a2c891e.8d7de8","1f0ed4d7.5060cb","995fe5cd.2165e8"],"x":85,"y":1740,"wires":[["2219d21a.cc239e"]]},{"id":"444c3c34.f5f894","type":"link in","z":"9fab0fa7.a0c76","name":"stepTime4","links":["2a8bbcd7.aa3544","247bcf0c.ee7a","ad6acd50.d022a"],"x":85,"y":1840,"wires":[["90e5c6f.d78ff38"]]},{"id":"fa93abb5.5b1418","type":"link in","z":"9fab0fa7.a0c76","name":"stepTemp1","links":["6739cc19.fc53e4","a13e23b4.9735c","a1a0a462.cb6a18"],"x":625,"y":1540,"wires":[["c8694110.d106"]]},{"id":"ac637825.ccfe68","type":"link in","z":"9fab0fa7.a0c76","name":"stepTemp2","links":["14923266.3c4b3e","a3d47ebb.c3c13","fa3954cc.cffc18"],"x":625,"y":1640,"wires":[["8a6cd2e4.a54a8"]]},{"id":"549a4405.80df3c","type":"link in","z":"9fab0fa7.a0c76","name":"stepTemp3","links":["2c9542bf.5074de","599b40f.e236fc","ce85bf2a.6a3f2"],"x":625,"y":1740,"wires":[["d3a08dac.e0155"]]},{"id":"809156f1.4f9c18","type":"link in","z":"9fab0fa7.a0c76","name":"stepTemp4","links":["d96bdbc3.000248","2a92e91a.944e26","239c6a.3eb82396"],"x":625,"y":1840,"wires":[["27e087b2.cbf178"]]},{"id":"c9ecff6e.a08e6","type":"ui_text","z":"9fab0fa7.a0c76","group":"8abc699c.0e1778","order":14,"width":0,"height":0,"name":"","label":"Current time","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2020,"wires":[]},{"id":"9bb5f943.1a0948","type":"inject","z":"9fab0fa7.a0c76","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2020,"wires":[["d43d6b95.a5c618"]]},{"id":"a73f2653.d051e8","type":"ui_text","z":"9fab0fa7.a0c76","group":"8abc699c.0e1778","order":13,"width":0,"height":0,"name":"","label":"Total mash duration","format":"{{msg.payload}} mins","layout":"row-spread","x":640,"y":1980,"wires":[]},{"id":"81df4448.2562d8","type":"function","z":"9fab0fa7.a0c76","name":"mash duration","func":"// calculate total mash time.\nmsg.payload = 0.0;\n\nif(flow.get('mash_steps') >= 0){msg.payload += flow.get('step1_duration')}\nif(flow.get('mash_steps') >= 1){msg.payload += flow.get('step2_duration')}\nif(flow.get('mash_steps') >= 2){msg.payload += flow.get('step3_duration')}\nif(flow.get('mash_steps') >= 3){msg.payload += flow.get('step4_duration')}\n\nflow.set('mash_duration', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1980,"wires":[["a73f2653.d051e8"]]},{"id":"9f5f2173.df414","type":"link in","z":"9fab0fa7.a0c76","name":"Update schedule length","links":["f3ba393.b87f1c8","b6aa3e9e.30fbe","6bee84f2.8c488c","a3b124c1.953f18","70f2235b.fcfd4c","eeb06c28.baac9","ce270be7.17e7e8","776e12b0.7b5c1c","540819db.2eb038","d3e47e22.41a0f","b1ddc882.fd0b78"],"x":85,"y":1980,"wires":[["81df4448.2562d8"]]},{"id":"d43d6b95.a5c618","type":"moment","z":"9fab0fa7.a0c76","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/New_York","adjAmount":"0","adjType":"days","adjDir":"add","format":"LTS","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":450,"y":2020,"wires":[["c9ecff6e.a08e6"]]},{"id":"d10163f.c8493a","type":"ui_button","z":"86fbd43c.6c8fd8","name":"","group":"8abc699c.0e1778","order":2,"width":2,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"#757575","bgcolor":"#e0e0e0","icon":"","payload":"0","payloadType":"num","topic":"","x":110,"y":560,"wires":[["19940d1b.36c2c3"]]},{"id":"f76ab68f.0eaca8","type":"ui_template","z":"a0639205.ab602","group":"bf96f83d.953be8","name":"actual temperature display","order":1,"width":0,"height":0,"format":"<!-- <div ng-bind-html=\"msg.payload\"></div> -->\n\n<div style=\"text-align: center; position: absolute; bottom: 0px; width: 295px\">\n<span style=\"font-size:26px\" ng-bind-html=\"msg.payload | number:1\"></span>\n<span style=\"font-size:16px\">°C</span><br>\n<span style=\"font-size:14px\">Temperature</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":240,"wires":[[]]},{"id":"18962be0.30ba34","type":"ui_template","z":"b907c529.c47d08","group":"bf96f83d.953be8","name":"target temperature display","order":2,"width":0,"height":0,"format":"<!-- <div ng-bind-html=\"msg.payload\"></div> -->\n\n<div style=\"text-align: center; position: absolute; bottom: 0px; width: 295px\">\n<span style=\"font-size:18px\" ng-bind-html=\"msg.payload | number:1\"></span>\n<span style=\"font-size:14px\">°C</span><br>\n<span style=\"font-size:14px\">Target Temperature</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":300,"wires":[[]]},{"id":"7223b095.1072f","type":"link out","z":"9fab0fa7.a0c76","name":"Batch recipe name","links":["ab0b0b45.d56ae8"],"x":735,"y":1000,"wires":[]},{"id":"ab0b0b45.d56ae8","type":"link in","z":"8bb0b7a7.5f1d08","name":"Batch recipe name","links":["7223b095.1072f"],"x":195,"y":300,"wires":[["21ca9f02.51476"]]},{"id":"21ca9f02.51476","type":"ui_text","z":"8bb0b7a7.5f1d08","group":"4e459343.750bcc","order":1,"width":4,"height":1,"name":"batch name","label":"","format":"{{msg.recipeName}}","layout":"row-left","x":320,"y":300,"wires":[]},{"id":"6a262ebb.f669a","type":"function","z":"9fab0fa7.a0c76","name":"step1 duration and temp","func":"// msg.payload = `Step 1 ${flow.get('step1_duration')}m @ ${flow.get('step1_temp')}°C`;\n\nstepTime = flow.get('step1_duration')\nstepTemp = flow.get('step1_temp')\nmsg.payload = (stepTime !== 0 && stepTemp !== 0) ? `Step 1:  ${stepTime} mins @ ${stepTemp}°C` : '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":2140,"wires":[["fb2832ac.aa04e"]]},{"id":"ff9199dc.a879c8","type":"function","z":"9fab0fa7.a0c76","name":"step2 duration and temp","func":"// msg.payload = `Step 2 ${flow.get('step2_duration')}m @ ${flow.get('step2_temp')}°C`;\n\nstepTime = flow.get('step2_duration')\nstepTemp = flow.get('step2_temp')\nmsg.payload = (stepTime !== 0 && stepTemp !== 0) ? `Step 2:  ${stepTime} mins @ ${stepTemp}°C` : '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":2180,"wires":[["afda8192.58d6d"]]},{"id":"d071a80f.f77b38","type":"function","z":"9fab0fa7.a0c76","name":"step3 duration and temp","func":"// msg.payload = `Step 3 ${flow.get('step3_duration')}m @ ${flow.get('step3_temp')}°C`;\n\nstepTime = flow.get('step3_duration')\nstepTemp = flow.get('step3_temp')\nmsg.payload = (stepTime !== 0 && stepTemp !== 0) ? `Step 3:  ${stepTime} mins @ ${stepTemp}°C` : '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":2220,"wires":[["69681c7b.cba204"]]},{"id":"aa60250b.55a608","type":"function","z":"9fab0fa7.a0c76","name":"step4 duration and temp","func":"// msg.payload = `Step 4 ${flow.get('step4_duration')}m @ ${flow.get('step4_temp')}°C`;\n\nstepTime = flow.get('step4_duration')\nstepTemp = flow.get('step4_temp')\nmsg.payload = (stepTime !== 0 && stepTemp !== 0) ? `Step 4:  ${stepTime} mins @ ${stepTemp}°C` : '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":2260,"wires":[["cb6e8a1b.ed7ad8"]]},{"id":"5de60850.918ac8","type":"link in","z":"9fab0fa7.a0c76","name":"step1 read only","links":["21225405.677b4c","eeb06c28.baac9"],"x":75,"y":2140,"wires":[["6a262ebb.f669a"]]},{"id":"9615c8c3.9126d8","type":"link in","z":"9fab0fa7.a0c76","name":"step2 read only","links":["ce270be7.17e7e8","85703fe1.2f21"],"x":75,"y":2180,"wires":[["ff9199dc.a879c8"]]},{"id":"e105ee56.0b901","type":"link in","z":"9fab0fa7.a0c76","name":"step 3 read only","links":["776e12b0.7b5c1c","19e4837c.53909d"],"x":75,"y":2220,"wires":[["d071a80f.f77b38"]]},{"id":"7af07c1c.45d1f4","type":"link in","z":"9fab0fa7.a0c76","name":"reststep","links":["540819db.2eb038","2195257a.e21a2a"],"x":75,"y":2260,"wires":[["aa60250b.55a608"]]},{"id":"f2b7b1da.97718","type":"ui_template","z":"8bb0b7a7.5f1d08","group":"4e459343.750bcc","name":"display step1","order":6,"width":5,"height":1,"format":"<div layout=\"row\" layout-align=\"0 center\" style=\"font-size:14px; padding-left: 11px; color: grey; height: 100%\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":400,"wires":[[]]},{"id":"97fd845d.4a8b48","type":"ui_template","z":"8bb0b7a7.5f1d08","group":"4e459343.750bcc","name":"display step2","order":8,"width":5,"height":1,"format":"<div layout=\"row\" layout-align=\"0 center\" style=\"font-size:14px; padding-left: 11px; color: grey; height: 100%\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":440,"wires":[[]]},{"id":"a5c26df.21e789","type":"ui_template","z":"8bb0b7a7.5f1d08","group":"4e459343.750bcc","name":"display step3","order":10,"width":5,"height":1,"format":"<div layout=\"row\" layout-align=\"0 center\" style=\"font-size:14px; padding-left: 11px; color: grey; height: 100%\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":480,"wires":[[]]},{"id":"1704d916.3365a7","type":"ui_template","z":"8bb0b7a7.5f1d08","group":"4e459343.750bcc","name":"display step4","order":12,"width":5,"height":1,"format":"<div layout=\"row\" layout-align=\"0 center\" style=\"font-size:14px; padding-left: 11px; color: grey; height: 100%\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":520,"wires":[[]]},{"id":"2838a66b.98756a","type":"link in","z":"8bb0b7a7.5f1d08","name":"step1display","links":["fb2832ac.aa04e"],"x":195,"y":400,"wires":[["f2b7b1da.97718"]]},{"id":"7c246c86.b3f464","type":"link in","z":"8bb0b7a7.5f1d08","name":"step2display","links":["afda8192.58d6d"],"x":195,"y":440,"wires":[["97fd845d.4a8b48"]]},{"id":"e14c896a.bf8698","type":"link in","z":"8bb0b7a7.5f1d08","name":"step3display","links":["69681c7b.cba204"],"x":195,"y":480,"wires":[["a5c26df.21e789"]]},{"id":"54144793.a5c598","type":"link in","z":"8bb0b7a7.5f1d08","name":"step4display","links":["cb6e8a1b.ed7ad8"],"x":195,"y":520,"wires":[["1704d916.3365a7"]]},{"id":"fb2832ac.aa04e","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["2838a66b.98756a"],"x":455,"y":2140,"wires":[]},{"id":"afda8192.58d6d","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["7c246c86.b3f464"],"x":455,"y":2180,"wires":[]},{"id":"69681c7b.cba204","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["e14c896a.bf8698"],"x":455,"y":2220,"wires":[]},{"id":"cb6e8a1b.ed7ad8","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["54144793.a5c598"],"x":455,"y":2260,"wires":[]},{"id":"fa892226.0bf08","type":"inject","z":"9fab0fa7.a0c76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"initialize batch list","payloadType":"str","x":130,"y":80,"wires":[["b64b29a0.832708","dbee1fb1.ce2f7"]]},{"id":"34c156af.515cba","type":"ui_numeric","z":"9fab0fa7.a0c76","name":"strike temp","label":"Strike","tooltip":"","group":"8abc699c.0e1778","order":3,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"0","max":"80","step":1,"x":750,"y":1440,"wires":[["33ec2789.63e618"]]},{"id":"33ec2789.63e618","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"strike_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1480,"wires":[["524850f.2531db"]]},{"id":"524850f.2531db","type":"link out","z":"9fab0fa7.a0c76","name":"rest1 temp","links":["f90f0e84.06eab","844c030f.54575","cff23072.b566b"],"x":1015,"y":1480,"wires":[]},{"id":"c17d8674.c0b708","type":"link in","z":"9fab0fa7.a0c76","name":"strikeTemp","links":["5a1a9069.6bd4e"],"x":625,"y":1440,"wires":[["34c156af.515cba"]]},{"id":"b7d1476c.281eb8","type":"function","z":"9fab0fa7.a0c76","name":"strike temp","func":"\nstepTemp = flow.get('strike_temp')\nmsg.payload = (stepTemp !== 0) ? `Strike @ ${stepTemp}°C` : '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":2100,"wires":[["b8ebd781.d84d98"]]},{"id":"cff23072.b566b","type":"link in","z":"9fab0fa7.a0c76","name":" mash in read only","links":["524850f.2531db","b1ddc882.fd0b78"],"x":75,"y":2100,"wires":[["b7d1476c.281eb8"]]},{"id":"b8ebd781.d84d98","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["6e06b0b2.fb291"],"x":455,"y":2100,"wires":[]},{"id":"8f92ccae.4309b","type":"ui_template","z":"8bb0b7a7.5f1d08","group":"4e459343.750bcc","name":"display strike","order":4,"width":5,"height":1,"format":"<div layout=\"row\" layout-align=\"0 center\" style=\"font-size:14px; padding-left: 11px; color: grey; height: 100%\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":360,"wires":[[]]},{"id":"6e06b0b2.fb291","type":"link in","z":"8bb0b7a7.5f1d08","name":"strikedisplay","links":["b8ebd781.d84d98"],"x":195,"y":360,"wires":[["8f92ccae.4309b"]]},{"id":"5a1a9069.6bd4e","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["c17d8674.c0b708"],"x":715,"y":500,"wires":[]},{"id":"31a8e64c.76042a","type":"function","z":"9fab0fa7.a0c76","name":"strike temp","func":"// Add strike step if strikeTemp is not null (note: null considered a false expression).\n\nif (!msg.payload.recipe.data.strikeTemp) {\n    return [{payload: 0}, {payload: false}];\n}\n\nreturn [{payload: msg.payload.recipe.data.strikeTemp}, {payload: true}];\n\n//return (msg.payload.recipe.data.strikeTemp ? [{payload: msg.recipe.data.strikeTemp}, {payload: true}] : [{payload: 0}, {payload: false}]);","outputs":2,"noerr":0,"initialize":"","finalize":"","x":590,"y":520,"wires":[["5a1a9069.6bd4e"],["b38eef93.7ec49"]]},{"id":"b38eef93.7ec49","type":"link out","z":"9fab0fa7.a0c76","name":"","links":["e91e22c0.7a60e","edbb7b30.088168"],"x":715,"y":540,"wires":[]},{"id":"146e2663.6d163a","type":"ui_switch","z":"9fab0fa7.a0c76","name":"","label":"Include strike","tooltip":"","group":"8abc699c.0e1778","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":1180,"wires":[["37f45e4b.e43102"]]},{"id":"61463a1.3c326c4","type":"inject","z":"9fab0fa7.a0c76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":1140,"wires":[["146e2663.6d163a"]]},{"id":"37f45e4b.e43102","type":"change","z":"9fab0fa7.a0c76","name":"","rules":[{"t":"set","p":"include_strike","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1180,"wires":[["66fe5aae.d60114"]]},{"id":"66fe5aae.d60114","type":"function","z":"9fab0fa7.a0c76","name":"show/hide strike","func":"if(flow.get('include_strike'))\n{\n    msg.payload = { group: { show: [\"Mash_Schedule_Strike\"] } };\n} else {\n    msg.payload = { group: { hide: [\"Mash_Schedule_Strike\", \"Mash_Schedule_Strikeb\"] } };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1180,"wires":[["abbcc3a.7157c4"]]},{"id":"70fb9444.7274dc","type":"link in","z":"9fab0fa7.a0c76","name":"Initialization","links":["ceec1878.64cb48","6682fd07.f54414"],"x":555,"y":1140,"wires":[["66fe5aae.d60114"]]},{"id":"abbcc3a.7157c4","type":"link out","z":"9fab0fa7.a0c76","name":"Rest # selector","links":["4385db5d.12e2ac","27047386.2907bc"],"x":855,"y":1180,"wires":[]},{"id":"edbb7b30.088168","type":"link in","z":"9fab0fa7.a0c76","name":"use strike","links":["cf5e9e51.ecb27","a66f8c1a.6690e","b38eef93.7ec49"],"x":115,"y":1180,"wires":[["146e2663.6d163a"]]},{"id":"df449680.2beac8","type":"ui_ui_control","z":"9fab0fa7.a0c76","name":"","events":"all","x":150,"y":120,"wires":[["b64b29a0.832708"]]},{"id":"267962b0.23eeae","type":"comment","z":"9fab0fa7.a0c76","name":"","info":"Need to update MAIN > STEPS layout to add groups for show/hide.","x":720,"y":1220,"wires":[]}]